# build artifacts
build/
install/
log/

# ignore python cache
__pycache__/
*.pyc

# ignore common editor/os files
.DS_Store
*.swp
*~
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
alpha_ops/restic.env
alpha_ops/logs/
